/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, ul, li, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	font-family:sans-serif;
}
a {
	font-size:18px;
	color: black;
	font-weight: bold;
}
a:hover {
	color: red;
	text-decoration: underline;
}

.left {
	float: left;
	position: relative;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}
p,table {
	background: white;
	font-size: 18px;
	color: #808080;
}

#wrapper {
	text-align: left;
	margin: auto;
	width: 707px;
	position: relative;
}

#spray {
	position: absolute;
	top: 0;
	left: 378px;
}
#body-left {
	width: 360px;
}
#body-right {
	width: 318px;
	position: absolute;
	top: 5px;
	left: 388px;
}